/*comunes*/
body{
    background-color: #f7c548; 

}
/*footer*/
footer{
    background-color: #e7a60f91
}
footer a{
    text-decoration: none;
}

/* footer a:hover{
    color: black;
} */


/*pages*/

/*index*/
.display{
    width: auto;
    height: auto;
    background-color: #f7c548 ; 
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(3,auto) ;
    grid-gap: 10px;
}
.item{
    border: 5px insert #847577;
    background-color: #58b09c;
    
}
.display h2{
    padding: 15px;
    color: white;
    text-align:center;
}
.display p {
    padding:20px;
    color:white;
    text-align:justify;
}

/*eventos*/
.eventos{
    width: 80%;
    display: grid;
    margin: auto;
    place-items: center;
}
.titulo{
    display: grid;
    margin: auto;
    place-items: center;
}
/*display del texto sobre el carousel*/
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Contacto*/
.forma{
    width: 100%;
    display: grid;
    margin: auto;
    place-items: center;

}



/*media Queries*/
@media(min-width:480px){
    .display{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2,auto);
    }
    .item3{
        grid-column: 1/3;
    }
    .N3{
        grid-column: 1/3;
        
    }

}

@media(min-width:768px){
    .display{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2,auto);
        
    }
    .item3{
        grid-column: 3/4;
    }
    .N3{
        grid-column: 3/4;
        
    }
}

@media(min-width:1024px){
    .eventos{
        width: 90%;
        display: grid;
        margin: auto;
        place-items: center;
        
    }
    
}